D<!DOCTYPE html>
  <head>
    <title>Twitter Bootstrap Tutorial - A responsive layout tutorial</title>
    <style type='text/css'>
      body {
        background-color: #CCC;
      }
    </style>
<link rel="stylesheet" href= "/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/modernizr.js"></script>
	{% block head1 %}
	{% endblock %}
  </head>
  <body>
	{% block content1 %}
	
	{% endblock %}
	

	
  </body>
</html>
