<html>
<head>
	
<!-->	<link rel="stylesheet" href= "static/src/bootstrap.css">
	<link rel="stylesheet" href="static/src/bootstrap.min.css">
	<!-->

</head>
<body>
	<!--dss>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-->
	<p id="demo" name="b1">
	sdjsdks
	</p>
	<p id="demo1">
	sssss
	</p>
	<input type="button" onclick="f()">dfsd</input>
	<input type="button" onclick="alert_apear()" >aler</input>
	<button id="bt">aaaa</button>
	<script>
		document.getElementById("bt").onclick=k();
		var d=new Date()
		document.write(d)
		function f()
		{
		}
		function k()
		{
			document.getElementById("demo1").innetHTML="my first";
		}
	</script>
	<script>
		function alert_apear()
		{
			window.open()
			document.getElementById("demo1").style.color="blue";
			
		}
	</script> 
	
	<h1>example</h1>
	{%block content1%}
	{%endblock %}
</body>
</html>
	
