<div class="hotfeaturedtext">
	<strong>love</strong>
	<p>sssss</p>
	</div>
	
	 <ul class="thumbnails">	
          <!--/////// FEATURED BOX ///////-->
          <li class="span3">
            <div class="thumbnail featuredbox">
              <a href="experiments/sync.html">kkkk</a>
              <div class="hotfeaturedtext">
                <strong>BitTorrent Sync</strong>
                <p>Automatically sync files between computers via secure, distributed technology.</p>
              </div> <!--/featuredtext-->
              <div class="hotfeaturedbutton"> 
                <hr>
                <a href="experiments/sync.html"><span>Learn More</span></a>
              </div>
            </div>
          </li>	
	  <li class="span6">
            <div class="thumbnail featuredbox">
              <a href="experiments/sync.html">kkkk</a>
              <div class="hotfeaturedtext">
                <strong>BitTorrent Sync</strong>
                <p>Automatically sync files between computers via secure, distributed technology.</p>
              </div> <!--/featuredtext-->
              <div class="hotfeaturedbutton"> 
                <hr>
                <a href="experiments/sync.html"><span>Learn More</span></a>
              </div>
            </div>
          </li>	
	  	
	   </ul>

